*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    border: 0;
    margin: 0;
    padding: 0;
    }

body, button, input, select, table, textarea {
    font-family: 'Lato','Helvetica Neue',Arial,sans-serif;
    color: #636363;
    font-size: 14px;
    line-height: 1.5;
    }

body.header {
    width:100%;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    background-color:#BBC7CD;
    font-size:10pt;
    }

.page-header {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    background-color:#BBC7CD;
    }

.header-wrapper {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 20px;
    background-color:#BBC7CD;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    }


.header-wrapper h1 {
    display: inline-block;
    margin: 0 20px;
}



.breadcrumbs a {
    float: left;
    color: #32AFFF;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
    /* list-style-type: disc; */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px; */
}

.breadcrumbs li {
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    }




/* ==== 
CONTAINER RELATIONSHPS
 ==== */

div.main-container {
    padding: 10px 0 0;
}

div.main {
    margin: 0px;
    padding: 0px;
}

.breadcrumbs {
    margin: 30px auto 60px;
    padding: 0 30px;
    overflow: hidden;
}

div.col-main {
    margin: 0px;
    padding: 0px;
}

div.diagram-container {
    margin: 0 auto;
    padding: 0 30px;
}

.diagram-container h1 {
    display: block;
    margin-bottom: 10px;
}

div.diagram-wrapper {
    position: relative;
    margin: 0 0 90px;
    padding: 0px;
    }

img#image-map {
    position: relative;
    left: 0%;
    top: 0px;
    width: 100%;
    height: auto;
    border: 2px solid lightgray;
    max-width: 100%; 
    /* margin: 20px 0; */
    margin-bottom: 20px;
    padding: 0;
    }

div.overlay-wrapper {
    position: absolute;
    left: 0%;
    top: 0px;
}

div.overlay {
    position: absolute;
    width:18px;
    height:18px; 
    border-radius:50%;
    border: 2px solid lightgray;
}

div.overlay:hover {
    background-color: rgba(255,0,0,0.5);
}





/* 
parts list table &
Part popup table
*/

div.partslist-wrapper {
    margin: 10,0;
}

div#table-partslist {
    position: relative;
    left: 10%;
}

table {
    border: 1px solid black;
    }
    
th {
    background-color: lightgray;
    }

td {
    padding: 5px;
    }

tr.selected {
    background-color: yellow;
    }

/* ========
POPUP PART TABLE
======= */
div.popup-wrapper {
    position: absolute;
    left: 10%;
    top: 50%;
    padding: 20px;
    margin-left: 40px;
    /* width: 100%; */
    z-index: 2000;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 2px 5px #d2d3d3;
    background-color: #FFF;
    /* transform: translateY(-50%); */
    display: none;
}

a.close-popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    padding-right: 2px;
    color: #838d97;
    font-family: 'Lato','Helvetica Neue',Arial,sans-serif;
    text-decoration: none;
    z-index: 5;
    background-color: white;
    font-size: 15px;
    }

.icon-close:before {
    content: "\2715";
    }
  
a.close-popup:hover {
    color: #004E95 !important;
    text-decoration: none !important;
    }

.popup-table {
    /* display: block; */
    max-height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
    /* margin: 10px;
    padding: 20px; */
    clear: left;
    }



        


